In [39]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import os
import datetime
from functools import partial

In [40]:
data=pd.read_csv("C:/Users/ekta hinduja/Documents/HDFCBANK.csv")

In [41]:
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HDFCBANK,EQ,15-May-2017,1551.65,1550.00,1557.20,1542.25,1553,1553.40,1550.73,701195,1.087368e+09,15104,309282,44.11
1,HDFCBANK,IL,15-May-2017,1567.00,1583.00,1583.00,1583.00,-,1583.00,1583.00,342000,5.413860e+08,6,342000,100.00
2,HDFCBANK,EQ,16-May-2017,1553.40,1555.00,1562.00,1548.25,1561.85,1559.65,1555.11,897594,1.395857e+09,21073,347734,38.74
3,HDFCBANK,EQ,17-May-2017,1559.65,1558.80,1565.40,1551.50,1557.5,1557.15,1557.51,868118,1.352103e+09,32732,367931,42.38
4,HDFCBANK,IL,17-May-2017,1583.00,1600.00,1600.00,1600.00,-,1600.00,1600.00,50000,8.000000e+07,1,50000,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,HDFCBANK,EQ,07-May-2019,2328.45,2351.90,2358.00,2318.00,2320.1,2322.35,2338.90,2481051,5.802928e+09,114540,1326590,53.47
605,HDFCBANK,EQ,08-May-2019,2322.35,2322.55,2323.80,2288.00,2309,2307.25,2304.51,3016052,6.950518e+09,101965,1942147,64.39
606,HDFCBANK,EQ,09-May-2019,2307.25,2300.00,2300.00,2271.60,2292,2290.90,2287.67,2256931,5.163124e+09,129719,1470611,65.16
607,HDFCBANK,EQ,10-May-2019,2290.90,2291.35,2324.90,2291.35,2296.5,2296.50,2306.93,2648550,6.110008e+09,79307,1542118,58.22
608,HDFCBANK,EQ,13-May-2019,2296.50,2296.05,2313.35,2280.00,2287.3,2287.20,2297.73,2767908,6.359892e+09,145875,1652663,59.71

In [42]:
filtered_data=data[data.Series=='EQ']
filtered_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HDFCBANK,EQ,15-May-2017,1551.65,1550.00,1557.20,1542.25,1553,1553.40,1550.73,701195,1.087368e+09,15104,309282,44.11
2,HDFCBANK,EQ,16-May-2017,1553.40,1555.00,1562.00,1548.25,1561.85,1559.65,1555.11,897594,1.395857e+09,21073,347734,38.74
3,HDFCBANK,EQ,17-May-2017,1559.65,1558.80,1565.40,1551.50,1557.5,1557.15,1557.51,868118,1.352103e+09,32732,367931,42.38
5,HDFCBANK,EQ,18-May-2017,1557.15,1549.00,1561.50,1548.10,1557.5,1557.10,1556.99,776820,1.209500e+09,13648,518101,66.70
7,HDFCBANK,EQ,19-May-2017,1557.10,1559.50,1569.90,1545.25,1568.05,1561.25,1556.93,713534,1.110926e+09,18458,296680,41.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,HDFCBANK,EQ,07-May-2019,2328.45,2351.90,2358.00,2318.00,2320.1,2322.35,2338.90,2481051,5.802928e+09,114540,1326590,53.47
605,HDFCBANK,EQ,08-May-2019,2322.35,2322.55,2323.80,2288.00,2309,2307.25,2304.51,3016052,6.950518e+09,101965,1942147,64.39
606,HDFCBANK,EQ,09-May-2019,2307.25,2300.00,2300.00,2271.60,2292,2290.90,2287.67,2256931,5.163124e+09,129719,1470611,65.16
607,HDFCBANK,EQ,10-May-2019,2290.90,2291.35,2324.90,2291.35,2296.5,2296.50,2306.93,2648550,6.110008e+09,79307,1542118,58.22
608,HDFCBANK,EQ,13-May-2019,2296.50,2296.05,2313.35,2280.00,2287.3,2287.20,2297.73,2767908,6.359892e+09,145875,1652663,59.71

In [43]:
filtered_data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HDFCBANK,EQ,15-May-2017,1551.65,1550.0,1557.2,1542.25,1553,1553.40,1550.73,701195,1.087368e+09,15104,309282,44.11
2,HDFCBANK,EQ,16-May-2017,1553.40,1555.0,1562.0,1548.25,1561.85,1559.65,1555.11,897594,1.395857e+09,21073,347734,38.74
3,HDFCBANK,EQ,17-May-2017,1559.65,1558.8,1565.4,1551.50,1557.5,1557.15,1557.51,868118,1.352103e+09,32732,367931,42.38
5,HDFCBANK,EQ,18-May-2017,1557.15,1549.0,1561.5,1548.10,1557.5,1557.10,1556.99,776820,1.209500e+09,13648,518101,66.70
7,HDFCBANK,EQ,19-May-2017,1557.10,1559.5,1569.9,1545.25,1568.05,1561.25,1556.93,713534,1.110926e+09,18458,296680,41.58

In [44]:
filtered_data.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
604,HDFCBANK,EQ,07-May-2019,2328.45,2351.90,2358.00,2318.00,2320.1,2322.35,2338.90,2481051,5.802928e+09,114540,1326590,53.47
605,HDFCBANK,EQ,08-May-2019,2322.35,2322.55,2323.80,2288.00,2309,2307.25,2304.51,3016052,6.950518e+09,101965,1942147,64.39
606,HDFCBANK,EQ,09-May-2019,2307.25,2300.00,2300.00,2271.60,2292,2290.90,2287.67,2256931,5.163124e+09,129719,1470611,65.16
607,HDFCBANK,EQ,10-May-2019,2290.90,2291.35,2324.90,2291.35,2296.5,2296.50,2306.93,2648550,6.110008e+09,79307,1542118,58.22
608,HDFCBANK,EQ,13-May-2019,2296.50,2296.05,2313.35,2280.00,2287.3,2287.20,2297.73,2767908,6.359892e+09,145875,1652663,59.71

In [45]:
filtered_data.describe()

,Prev Close,Open Price,High Price,Low Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,1956.791296,1957.554656,1972.065992,1943.618522,1958.280263,1958.161518,2.221199e+06,4.474736e+09,72324.425101,1.340322e+06,59.073138
std,177.675228,178.093141,179.586442,175.846270,177.354913,177.562127,2.057621e+06,4.456619e+09,47863.349976,1.257852e+06,10.301116
min,1551.650000,1549.000000,1557.200000,1542.250000,1553.400000,1550.730000,1.425020e+05,2.641952e+08,5682.000000,6.900200e+04,26.220000
25%,1835.912500,1836.362500,1849.925000,1822.150000,1838.075000,1839.200000,1.143241e+06,2.123228e+09,31861.750000,6.506575e+05,52.462500
50%,1954.150000,1954.475000,1970.600000,1936.450000,1955.950000,1955.490000,1.773904e+06,3.482016e+09,61251.000000,9.994865e+05,59.800000
75%,2098.662500,2100.750000,2112.750000,2084.412500,2100.287500,2098.565000,2.646656e+06,5.465067e+09,104477.250000,1.643775e+06,66.280000
max,2367.950000,2364.200000,2378.000000,2356.500000,2367.950000,2370.960000,2.703218e+07,6.067489e+10,261775.000000,1.391462e+07,82.470000

In [46]:
filtered_data.tail(90)['Close Price'].max()

2367.95

In [47]:
filtered_data.tail(90)['Close Price'].min()

2034.7

In [48]:
filtered_data.tail(90)['Close Price'].mean()

2188.0705555555555

In [49]:
filtered_data['Date']=pd.to_datetime(filtered_data['Date'])
filtered_data['Date'].dtype

dtype('<M8[ns]')

In [50]:
filtered_data['Date'].max()-filtered_data['Date'].min()

Timedelta('728 days 00:00:00')

In [51]:
data['Month']=pd.DatetimeIndex(data['Date']).month
data['Year']=pd.DatetimeIndex(data['Date']).year
data['VWAP']=(data['Close Price']*data['Total Traded Quantity']).cumsum()/data['Total Traded Quantity'].fillna(0).cumsum()
data_vwap=data[['Month','Year','VWAP']]
group=data_vwap.groupby(['Month','Year'])
group.first()

                   VWAP
Month Year
1     2018  1768.825736
      2019  1946.212770
2     2018  1789.601355
      2019  1955.839939
3     2018  1797.902179
      2019  1962.477634
4     2018  1804.375683
      2019  1981.950196
5     2017  1553.400000
      2018  1815.826957
      2019  2002.400964
6     2017  1601.684099
      2018  1841.466314
7     2017  1644.888235
      2018  1878.424540
8     2017  1679.776809
      2018  1903.841654
9     2017  1699.347513
      2018  1919.837618
10    2017  1728.402388
      2018  1926.144342
11    2017  1744.827448
      2018  1930.132159
12    2017  1755.310137
      2018  1937.258962

In [52]:
def avg_price(N):
    return (data['Average Price'].tail(N).sum())/N
print("Average prices for last N days are as follows:")
print("Last 1 week",avg_price(5))
print("Last 2 weeks",avg_price(10))
print("Last 1 month",avg_price(20))
print("Last 3 months",avg_price(60))
print("Last 6 months",avg_price(120))
print("Last 1 year",avg_price(240))
print("Profit/Loss % for N days are as follows:")
def prof_loss(N):
    difference=(data['Close Price'].tail(N).iloc[N-1] -data['Close Price'].tail(N).iloc[0])
    if difference<0:
          loss=-(difference)
          loss_percen=(loss/data['Close Price'].tail(N).iloc[N-1]*100)
          return loss_percen
    if difference>0:
        profit=difference
        profit_percen=(profit/data['Close Price'].tail(N).iloc[N-1])*100
        return profit_percen
print("Loss/Profit percentage for last N days are as follows:")
print("Last 1 week",prof_loss(5))
print("Last 2 weeks",prof_loss(10))
print("Last one month",prof_loss(20))
print("Last three months",prof_loss(60))
print("Last six months",prof_loss(120))
print("Last one year",prof_loss(240))

Average prices for last N days are as follows:
Last 1 week 2307.148
Last 2 weeks 2316.759
Last 1 month 2294.9355
Last 3 months 2226.2961666666665
Last 6 months 2161.2085833333335
Last 1 year 2108.2045000000003
Profit/Loss % for N days are as follows:
Loss/Profit percentage for last N days are as follows:
Last 1 week 1.5368135711787378
Last 2 weeks 0.2732598810772998
Last one month 2.179520811472539
Last three months 6.451119272472881
Last six months 13.643319342427413
Last one year 10.442899615250084

In [53]:
data['Day_Perc_Change']=data['Close Price'].pct_change().fillna(0)
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,HDFCBANK,EQ,15-May-2017,1551.65,1550.00,1557.20,1542.25,1553,1553.40,1550.73,701195,1.087368e+09,15104,309282,44.11,5,2017,1553.400000,0.000000
1,HDFCBANK,IL,15-May-2017,1567.00,1583.00,1583.00,1583.00,-,1583.00,1583.00,342000,5.413860e+08,6,342000,100.00,5,2017,1563.104034,0.019055
2,HDFCBANK,EQ,16-May-2017,1553.40,1555.00,1562.00,1548.25,1561.85,1559.65,1555.11,897594,1.395857e+09,21073,347734,38.74,5,2017,1561.506581,-0.014750
3,HDFCBANK,EQ,17-May-2017,1559.65,1558.80,1565.40,1551.50,1557.5,1557.15,1557.51,868118,1.352103e+09,32732,367931,42.38,5,2017,1560.160140,-0.001603
4,HDFCBANK,IL,17-May-2017,1583.00,1600.00,1600.00,1600.00,-,1600.00,1600.00,50000,8.000000e+07,1,50000,100.00,5,2017,1560.856907,0.027518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,HDFCBANK,EQ,07-May-2019,2328.45,2351.90,2358.00,2318.00,2320.1,2322.35,2338.90,2481051,5.802928e+09,114540,1326590,53.47,5,2019,2005.107919,-0.002620
605,HDFCBANK,EQ,08-May-2019,2322.35,2322.55,2323.80,2288.00,2309,2307.25,2304.51,3016052,6.950518e+09,101965,1942147,64.39,5,2019,2005.916333,-0.006502
606,HDFCBANK,EQ,09-May-2019,2307.25,2300.00,2300.00,2271.60,2292,2290.90,2287.67,2256931,5.163124e+09,129719,1470611,65.16,5,2019,2006.485781,-0.007086
607,HDFCBANK,EQ,10-May-2019,2290.90,2291.35,2324.90,2291.35,2296.5,2296.50,2306.93,2648550,6.110008e+09,79307,1542118,58.22,5,2019,2007.164243,0.002444
608,HDFCBANK,EQ,13-May-2019,2296.50,2296.05,2313.35,2280.00,2287.3,2287.20,2297.73,2767908,6.359892e+09,145875,1652663,59.71,5,2019,2007.847215,-0.004050

In [54]:
if ((data['Day_Perc_Change']>=-0.5)&(data['Day_Perc_Change']<=0.5)).all():
    data['Trend']='Slight or No Change'
if ((data['Day_Perc_Change']>=0.5)&(data['Day_Perc_Change']<=1)).all():
    data['Trend']='Slight Positive'
if ((data['Day_Perc_Change']<=-0.5)&(data['Day_Perc_Change']<=-1)).all():
    data['Trend']='Slight Negative'
if ((data['Day_Perc_Change']>=1)&(data['Day_Perc_Change']<=3)).all():
    data['Trend']='Positive'
if ((data['Day_Perc_Change']<=-1)&(data['Day_Perc_Change']<=-3)).all():
    data['Trend']='Negative'
if ((data['Day_Perc_Change']>=3)&(data['Day_Perc_Change']<=7)).all():
    data['Trend']='Among top gainers'
if ((data['Day_Perc_Change']<=-3)&(data['Day_Perc_Change']>=-7)).all():
    data['Trend']='Among top losers'
if((data['Day_Perc_Change']>7)).all():
    data['Trend']='Bull run'
if((data['Day_Perc_Change']<-7)).all():
    data['Trend']='Bear drop'
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,HDFCBANK,EQ,15-May-2017,1551.65,1550.00,1557.20,1542.25,1553,1553.40,1550.73,701195,1.087368e+09,15104,309282,44.11,5,2017,1553.400000,0.000000,Slight or No Change
1,HDFCBANK,IL,15-May-2017,1567.00,1583.00,1583.00,1583.00,-,1583.00,1583.00,342000,5.413860e+08,6,342000,100.00,5,2017,1563.104034,0.019055,Slight or No Change
2,HDFCBANK,EQ,16-May-2017,1553.40,1555.00,1562.00,1548.25,1561.85,1559.65,1555.11,897594,1.395857e+09,21073,347734,38.74,5,2017,1561.506581,-0.014750,Slight or No Change
3,HDFCBANK,EQ,17-May-2017,1559.65,1558.80,1565.40,1551.50,1557.5,1557.15,1557.51,868118,1.352103e+09,32732,367931,42.38,5,2017,1560.160140,-0.001603,Slight or No Change
4,HDFCBANK,IL,17-May-2017,1583.00,1600.00,1600.00,1600.00,-,1600.00,1600.00,50000,8.000000e+07,1,50000,100.00,5,2017,1560.856907,0.027518,Slight or No Change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,HDFCBANK,EQ,07-May-2019,2328.45,2351.90,2358.00,2318.00,2320.1,2322.35,2338.90,2481051,5.802928e+09,114540,1326590,53.47,5,2019,2005.107919,-0.002620,Slight or No Change
605,HDFCBANK,EQ,08-May-2019,2322.35,2322.55,2323.80,2288.00,2309,2307.25,2304.51,3016052,6.950518e+09,101965,1942147,64.39,5,2019,2005.916333,-0.006502,Slight or No Change
606,HDFCBANK,EQ,09-May-2019,2307.25,2300.00,2300.00,2271.60,2292,2290.90,2287.67,2256931,5.163124e+09,129719,1470611,65.16,5,2019,2006.485781,-0.007086,Slight or No Change
607,HDFCBANK,EQ,10-May-2019,2290.90,2291.35,2324.90,2291.35,2296.5,2296.50,2306.93,2648550,6.110008e+09,79307,1542118,58.22,5,2019,2007.164243,0.002444,Slight or No Change
608,HDFCBANK,EQ,13-May-2019,2296.50,2296.05,2313.35,2280.00,2287.3,2287.20,2297.73,2767908,6.359892e+09,145875,1652663,59.71,5,2019,2007.847215,-0.004050,Slight or No Change

In [56]:
data.groupby(data.Trend).mean()['Total Traded Quantity']
data.groupby(data.Trend).median()['Total Traded Quantity']

Trend
Slight or No Change    1464480
Name: Total Traded Quantity, dtype: int64

In [58]:
data.to_csv('Module1Solutions.csv')